html {
  position: fixed;
  body: solid;
  color: green;
  width: 100%;
  height: 100%;
}

head {
  position: fixed;
  body: solid;
  color: blue;
  width: 100%;
  height: 100%;
}

body {
  position: fixed;
  body: solid;
  color: yellow;
  width: 100%;
  height: 100%;
}

maincanvas {
  position: fixed;
  body: solid;
  color: black;
  width: 100%;
  height: 100%;
}
