html {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1;
}

head {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: blue;
  z-index: 1;
}

body {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: yellow;
  z-index: 1;
}

maincanvas {
  position: fixed;
  inset: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 0;
}

mainspace {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

