body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
 padding-top: 50px;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}

#title {
  transition: transform 0.1s linear;
}