body {
  margin: 0;
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 60px;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

#title {
  transition: transform 0.1s linear;
  z-index: 1;
  position: relative;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}